@use "../abstract/mixins" as *;

@include generate-card-images("food", "food", 18);
@include generate-card-images("da", "da", 18);
@include generate-card-images("game", "game", 18);
@include generate-card-images("it", "it", 18);

.card {
    height: 120px;
    aspect-ratio: 1/1;
    background: transparent;
    border: none;
    cursor: pointer;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.3s ease-in-out;
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
    }

    &__face--front {
        background-position: center;
        background-repeat: no-repeat;
    }

    &__face--back {
        transform: rotateY(180deg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }

    &.is-matched {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease;
    }
}

/* THEMES – müssen außerhalb von .card stehen! */
.theme--food .card__face--front {
    background-image: url("/assets/food/card_back.svg");
}

.theme--da .card__face--front {
    background-image: url("/assets/da/card_back.svg");
}

.theme--game .card__face--front {
    background-image: url("/assets/game/card_back.svg");
}

.theme--it .card__face--front {
    background-image: url("/assets/it/card_back.svg");
}

/* Cheat Mode */
.card.cheat-reveal .card__inner {
    transform: rotateY(180deg) !important;
}