@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    gap: $gap;
}

@mixin flex-start($direction: row, $gap: 0) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: $direction;
    gap: $gap;
}

@mixin flex-space($direction: row) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: $direction;
}

@mixin generate-card-images($theme, $folder, $count) {
    @for $i from 1 through $count {
        .theme--#{$theme} .card[data-image="#{$i}"] .card__face--back {
            background-image: url("/assets/#{$folder}/card_#{$i}.svg");
        }
    }
}