@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;
@use '../base/font' as *;

.game {
    @include flex-start(column, 54px);
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--backgroundTheme);
    padding-bottom: 54px;

    &__header {
        @include flex-space();
        align-items: flex-end;
        width: 100%;
        padding: 50px 100px;
        font-family: var(--currentFont);
        color: var(--currentColor);
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: var(--backgroundHeader);
        box-shadow: 0px 4px 9px 4px var(--backgroundHeader);
        max-width: 1200px;
    }

    &__score {
        background-color: var(--backgroundScore);
        padding: 17px 20px;
        border-radius: 10px;

        &--blue {
            color: $player-blue;
        }

        &--orange {
            color: $player-orange;
        }

        ul {
            @include flex-start(row, 20px);
            list-style: none;
            font-size: 24px;
        }

        li {
            position: relative;
            margin-left: 31px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -31px;
                transform: translateY(-50%);
                border-radius: 2px;
                border: 10px solid;
                border-color: inherit;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                border: solid transparent;
                border-width: 10px 0 10px 8px;
                border-left-color: inherit;
            }
        }
    }

    &__player {
        color: white;
        font-size: 26px;
        margin-right: 39px;

        &--blue {
            p {

                &::before,
                &::after {
                    color: $player-blue;
                }
            }
        }

        &--orange {
            p {

                &::before,
                &::after {
                    color: $player-orange;
                }
            }
        }
    }

    &__field {
        display: grid;

        &--16 {
            width: 525px;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
        }

        &--24 {
            width: 770px;
            grid-template-columns: repeat(6, 1fr);
            gap: 12px;
        }

        &--36 {
            width: 770px;
            grid-template-columns: repeat(6, 1fr);
            gap: 10px;
        }
    }
}

dialog {
    border: none;
    padding: 40px 50px;
    background: white;
    border-radius: 12px;
    text-align: center;
    font-family: 'Almarai';
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.dialog__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.current-player {
    font-family: var(--currentFont) !important;
    color: var(--currentColor);
}

.game__player {
    display: flex;
    align-items: center;
    gap: 12px; // Abstand zwischen Text und Icon
}

#current-player-icon {
    width: 32px;
    height: 32px;
    display: block;
}