@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;
@use '../base/font' as *;

.settings {
    @include flex-start(column, 62px);
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    padding: 100px 170px;

    &__layout {
        @include flex-space();
        width: 100%;
    }

    &__right {
        @include flex-space(column);
        align-items: flex-end;
        height: 100%;
    }

    &__preview {
        width: 460px;
        opacity: 0;
        transition: opacity 0.25s ease;

        &[src]:not([src=""]) {
            opacity: 1;
        }
    }

    &__header {
        position: relative;
        font-family: 'Red Rose';
        font-size: 32px;

        h1 {
            position: relative;
            padding-bottom: 24px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 24px;
                background-image: url('/assets/settings_header.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &__form {
        @include flex-start(column, 54px);
        height: 100%;

        fieldset {
            @include flex-start(column, 12px);
            border: unset;
        }

        legend {
            @include flex-center(row, 8px);
            margin-bottom: 16px;
            font-family: 'Almarai Bold';
            font-size: 24px;

            img {
                width: 32px;
                aspect-ratio: 1/1;
            }
        }

        label {
            @include flex-center(row, 10px);
            margin-left: 44px;
            font-family: 'Almarai';
            font-size: 20px;
            cursor: pointer;
            position: relative;
            padding-left: 10px;
            padding-right: 40px;
            display: inline-flex;
            align-items: center;

            &.selected::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 32px;
                height: 16px;
                background-image: url('/assets/settings_item.svg');
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                pointer-events: none;
            }
        }

        input[type=radio] {
            appearance: none;
            width: 18px;
            height: 18px;
            border: 3px solid black;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &::before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                box-shadow: inset 8px 8px black;
                transform: scale(0);
            }

            &:checked {
                border: 2px solid black;

                &::before {
                    transform: scale(1);
                }
            }
        }
    }

    &__summary {
        @include flex-center(row, 20px);
        padding: 10px 14px;
        background-color: $background-light;
        max-height: 78px;

        ul {
            @include flex-start(row, 42px);
            height: 100%;
            list-style: none;
            font-family: 'Almarai';
            font-size: 20px;
        }

        li {
            @include flex-center();
            position: relative;
            height: 100%;

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                right: -25px;
                top: 0;
                height: 100%;
                border-right: 8px solid $primary;
                transform: rotate(15deg);
            }
        }
    }
}

.button--start {
    padding: 10px 15px;
    gap: 8px;
    max-height: 50px;

    .button__icon {
        transform: rotate(5deg);
        width: 30px;
    }

    .button__text {
        font-size: 20px;
    }

    &:hover {
        .button__icon {
            transform: rotate(0);
            width: 35px;
        }

        .button__text {
            transform: scale(1.1);
        }
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: none;
        filter: grayscale(1);
    }
}